#aniWrd{
  /*margin-top: 350px;*/
  height: 80%;
  width: 80%
  margin:12px;
  text-align: center;
  perspective:1000px;
  font-size: 40px;
}
span{
  margin-top: 350px;
  display: inline-block;
  margin-left: -20px;
  color: #77c6bc;
  transform-origin: 50% 100%;
}

span:nth-child(2n){
  color: #95b8cb;
}
span:nth-child(1){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) both;
}

span:nth-child(2){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) .2s both;
}
span:nth-child(3){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) .4s both;
}

span:nth-child(4){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) .6s both;
}
span:nth-child(5){
  margin-right: 50px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) .8s both;
}
span:nth-child(6){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) 1s both;
}
span:nth-child(7){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) 1.2s both;
}
span:nth-child(8){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) 1.4s both;
}
span:nth-child(9){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) 1.6s both;
}
span:nth-child(10){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) 1.8s both;
}
span:nth-child(11){
  margin-right: 30px;
  animation: flipUp 1s cubic-bezier(0.68,-0.55,0.26,1.55) 2s both;
}


@keyframes flipUp {
  from{transform: rotateX(90deg);}
  to{transform: rotateX(0deg);}

}
