canvas {
    display: block;
    display: flex;
    flex-align: center;
    border-width: 5px;
    border-color: red;
    border-radius: 40px;
    margin: 0 auto;
}
#topBar {
    position: absolute;
    /*float: right;*/

    margin-left: 150px;
    font-size: 15px;
    align-items: center;
    z-index: 3;
    color: red;
}
#healthMeter {
    position: absolute;
    z-index: 3;
    align-items: center;
    float: right;
    width: 100px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    background-color: white;
    margin-left: 250px;
}
.health {
    margin-left: 7.6px;
    margin-top: 10px;
    width: 10%;
    height: 50%;
    background-color: green;
    display: inline-block;
    z-index: 3;
}
#playMe {
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%);
}
